/Highcharts
/fpdf
/excel
/connections
/compras/temporal
/compras/cotizaciones/*
/compras/facturas/*
/compras/doctemp/*
/compras/documentos/*
/gviaje/certificaciones/*
/gviaje/soportes/*
/tiquetes/documentos/*
/cartas/anexos/*
/firmas/*
/cartas/radicados/*
/cartas/cartas/*
/contratos/contratos/*
/contratos/anexos/*
/imagenes/*
/phpword